<div class="bef-wrapper">
  <div class="wrapper">

    <div class="row">
      <div class="column">
        <h2>Product image</h2>
        <img src="{{product.image}}">
      </div>
      <div class="column" >
        <h2>Product title</h2>
        <p>{{product.title}}</p>
        <h2>Product description</h2>
        <p>{{product.description}}</p>
        <h2>Where I want to negotiate:</h2>
        <agm-map [latitude]="seller.lat" [longitude]="seller.lng">
          <agm-marker [latitude]="seller.lat" [longitude]="seller.lng" ></agm-marker>
        </agm-map>
        <h2>Product price and method of payment</h2>
        <p>Price: {{product.price}} Lei in {{seller.paymentMethod}}</p>

      </div>

    </div>

    <div class="row">
      <div class="column" >
        <h2>About client</h2>
        <p>Client's name: {{seller.name}}<br>Client's email: {{seller.email}}<br>Client's phone number: {{seller.phoneNumber}}</p>

      </div>

      <div class="column" id="msg">
      </div>
    </div>

    <h2>ProductID: {{ProductID}}</h2>
  </div>
</div>


<div id="idSendMessage" class="modal">
  <form [formGroup]="myForm" (ngSubmit)="SendMessage()" class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('idSendMessage').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container">
      <div class="field">
        <input type="text" formControlName="myMessage" name="myMessage" required>
        <label ><b>Your message to {{seller.name}}</b></label>
      </div>
      <button class="btn" type="submit">Submit</button>
    </div>
  </form>
</div>
