<div class="bef-wrapper">
<div class="wrapper">

  <div class="row">
    <div class="column">
      <h2>What is our app about?</h2>
      <p>In a nutshell, our app is an Open Market. The main social requirement that the project addresses is a free market where all can sell and buy on their own terms, no matter how overpriced or undervalued their product is.</p>
    </div>


  </div>

  <div class="row">
    <div class="column" >
      <h2>3 Main Components</h2>
      <h3>Client (one or more)</h3>
      <p>This is basically the frontend of the application. Anything a buyer or a seller can see is provided by it. It also serves as an informational hub about our brand and product, provided by the Main and About Project pages.
        Google API</p>

      <h2>Middleware Server (one)</h2>
      <p>The middleware server handles almost all the data that gets inputted into the site (all besides the messages sent between clients), storing and retrieving data from the database, authentication and communication between the client and server.
        Email verification through ML API</p>

      <h2>Microservices’ Server (one)</h2>
      <p>This is the service that takes care of all add-on features that would be too much for the middleware to handle.
        These are the all the features that we managed to include:
        Image Upload - imgur API
        Welcome Email notification and Back and Forth Message email notification - JavaMail API
        The microservices’ server is completely separated from any direct database accesses. All the data that it uses is retrieved through API’s from the client or the middleware.</p>
    </div>

  </div>

  <div class="row">
    <div class="column">
      <h2>What is our app about?</h2>
      <p>In a nutshell, our app is an Open Market. The main social requirement that the project addresses is a free market where all can sell and buy on their own terms, no matter how overpriced or undervalued their product is.</p>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <h2>Other Tools</h2>
      <p>Other Tools</p>
      <p>Database: MongoDB</p>
      <p>Authentication and token validation: Auth0</p>
      <p>Versioning control system: GitHub</p>
      <p>Client host: Heroku</p>
      <p>Middleware and Microservices' host: Amazon EC2 Instance</p>
      <p>Communication with instances: Docker and DockerHub</p>
      <p>Middleware and Microservices’ API analyser: SwaggerUI</p>
       </div>
  </div>

  <div class="row">
    <div class="column">
      <h2>Team members:</h2>
      Team members:
      Bașnic Ioan,
      Belea Sebastian,
      Horvath Petra </div>
  </div>
</div>
</div>
