
<div class="navigation">
  <input type="checkbox" id="navi-toggle" class="navigation__checkbox" />

  <label for="navi-toggle" class="navigation__button">
				<span class="navigation__icon">
					<span class="navigation__icon-span">&nbsp;</span>
					<span class="navigation__icon-span">&nbsp;</span>
					<span class="navigation__icon-span">&nbsp;</span>
					<span class="navigation__icon-span">&nbsp;</span>
					<span class="navigation__icon-span">&nbsp;</span>
					<span class="navigation__icon-span">&nbsp;</span>
				</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <li class="navigation__item"><a class="navigation__link" href="/addproduct">Add a product</a></li>
        <li class="navigation__item"><a class="navigation__link" href="/products">Market</a></li>
        <li class="navigation__item"> <a class="navigation__link" href="/profile">My profile</a></li>
        <li class="navigation__item"> <a class="navigation__link" href="#" (click)="auth.logout({ returnTo: Logout})">Log out</a></li>
      </ng-container>
      <ng-template #loggedOut>
        <li class="navigation__item"><a class="navigation__link" href="/">Home</a></li>
        <li class="navigation__item"> <a class="navigation__link" href="/login">Sign in</a> </li>
        <li class="navigation__item"> <a class="navigation__link" href="/register">Sign up</a> </li>
        <li class="navigation__item"> <a class="navigation__link" href="/about">About project</a> </li>
      </ng-template>
    </ul>
  </nav>
</div>
<div class="bodyContent">
  <router-outlet></router-outlet>
</div>

<footer class="footer_desk">
  <div class="footerContent">
    <div class="footerContent-down">
      <div class="footContent">
        <ul class="itemsList">
          <i class="fa fa-github" style="font-size:60px;color:white;"></i>
          <a target="_self" class="foot-a" href="https://github.com/IoanBasnic/One-man-s-trash-is-another-man-s-treasure">
            Project github
          </a>
        </ul>
      </div>
    </div>
  </div>
</footer>

