<div class="bef-wrapper">
  <div class="wrapper">

    <div class="row" *ngIf="auth.user$ | async as user">
      <div class="column">
        <h2>My profile</h2>
        <img src='{{user.picture}}' alt="unnamed" border="0">
      </div>
      <div class="column" >
<!--        <ul *ngIf="auth.user$ | async as user">-->
<!--          <li>{{ user.name }}</li>-->
<!--          <li>{{ user.email }}</li>-->
<!--        </ul>-->
        <h2>Name:</h2>
        <p>{{user.name}}</p>
        <h2>Email:</h2>
        <p>{{user.email}}.</p>
        <h2>Address:</h2>
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <p>{{user.address}}<button onclick="document.getElementById('idAddress').style.display='block'">Edit</button> </p>
        <h2>Phone Number:</h2>
        <p>{{user.phoneNumber}} <button onclick="document.getElementById('idPhoneNumber').style.display='block'">Edit</button> </p>
        <h2>Payment method:</h2>
        <p>{{user.paymentMethod}} <button onclick="document.getElementById('idPaymentMethod').style.display='block'">Edit</button> </p>
      </div>

    </div>

    <div class="row">
      <div class="column" >

      </div>
    </div>


  </div>
</div>

<!--<div id="idAddress" class="modal">-->

<!--  <form class="modal-content animate">-->
<!--    <div class="imgcontainer">-->
<!--      <span onclick="document.getElementById('idAddress').style.display='none'" class="close" title="Close Modal">&times;</span>-->
<!--    </div>-->

<!--    <div class="container">-->
<!--      <label ><b>New Address:</b></label>-->
<!--      <input type="text" placeholder="New address" name="uname" required>-->
<!--      <button class="btn" type="submit">Edit address</button>-->

<!--    </div>-->


<!--  </form>-->
<!--</div>-->

<div id="idAddress" class="modal">

  <form class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('idAddress').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label></label>
      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="selectLocation($event)">
        <agm-marker [latitude]="lat" [longitude]="lng" ></agm-marker>
      </agm-map>
      <button class="btn" type="submit" >Edit address</button>

    </div>


  </form>
</div>

<div id="idPhoneNumber" class="modal">

  <form class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('idPhoneNumber').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label ><b>New Phone Number:</b></label>
      <input type="text" placeholder="New phone number" name="uname" required>
      <button class="btn" type="submit">Edit Phone Number</button>

    </div>


  </form>
</div>

<div id="idPaymentMethod" class="modal">

  <form class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('idPaymentMethod').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label ><b>Choose a new payment method:</b></label>
      <select id="selectbox2">
        <option value="pt_1">CASH</option>
        <option value="en_2">CHECK</option>
        <option value="es_3">BITCOIN</option>
        <option value="ch_4">CREDIT</option>
        <option value="5">DEBIT</option>
      </select>
      <button class="btn" type="submit">Edit Payment method</button>

    </div>


  </form>
</div>

<div class="bef-wrapper">
  <div class="wrapper">

    <div class="row">
      <div class="column" id="dynamicContent">
        <h2>My products:</h2>
      </div>
    </div>
  </div>
</div>
