.bef-wrapper {
  width: 100%;
  display: flex;
  justify-content:center; align-items:center;
}

.wrapper{
  width: 1600px;
  background: #ffffff;
  border-radius: 25px;
  margin-top: 5%;
  overflow:hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  align-content: center;
  text-align: center;
  flex: 50%;
  padding: 10px;

}

.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background-image: linear-gradient(90deg,#f4633a,#c800a1,#0033a0);
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #4158d0;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}

form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background-image: linear-gradient(90deg,#f4633a,#c800a1,#0033a0);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-up{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #222222;
  text-decoration: none;
}


.pass-link, .signup-link {
  display: inline-block;
  position: relative;
  color: #222;
  font-weight: bold;

}
.pass-link::after,
.signup-link::after {
  content: '';
  position: absolute;
  width: 75%;
  transform: scaleX(0);
  height: 0.15em;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    90deg
    ,#f4633a,#c800a1,#0033a0);
  transform-origin: bottom right;
  transition: transform 0.30s ease-out;
}
.pass-link:hover::after,
.signup-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
