
<div class="bef-wrapper">
  <div class="wrapper">

    <div class="row">
      <div class="column">
        <form [formGroup]="myForm" method="post" enctype="multipart/form-data">
              <div class="field">
                <input type="file" formControlName="productImage" accept='.jpg' (change)="onSelectFile($event)" required>
                <label>Product image</label>
              </div>
          <div class="field">
            <input type="text" formControlName="productName" required>
            <label>Product name</label>
          </div>
          <div class="field">
            <input type="text" formControlName="productDescription" required>
            <label>Product Description</label>
          </div>
          <div class="field">
            <label>Product Category</label>
          <select id="selectbox2" formControlName="productCategory" name="productCategory">
            <option value="electronics">Electronics</option>
            <option value="books">Books</option>
            <option value="electronic_games">Electronic Games</option>
            <option value="reacreation">Recreation</option>
            <option value="fashion">Fashion</option>
            <option value="house_stuff">House stuff</option>
            <option value="sports">Sports</option>
            <option value="auto">Auto</option>
            <option value="kids">Kids</option>
            <option value="supermarket">Supermarket</option>
            <option value="other">Other</option>
          </select>
          </div>
          <div class="field">
            <input type="text" formControlName="productPrice" required>
            <label>Product price</label>
          </div>
          <div class="field">
                  <input type="submit" value="Add product" (click)="performUpload()">
          </div>
        </form>
        <div *ngIf="imageSrc">
          <img src="{{imageSrc}}">
        </div>
      </div>
    </div>
  </div>
</div>
