<div class="welcome">
<div class="header-text">
  <div class="container">
    <div class="row-header">
      <div class="left-text">
        <h1>One man's trash
          <strong>is another man's treasure</strong>
        </h1>
        <p>The only website you need to clean and save up</p>
      </div>

      <div class="col-lg">
      </div>

    </div>

  </div>
</div>
</div>

<div class="bef-wrapper">
<div class="wrapper">


  <div class="row">
    <div class="column">
      <h2>Seller</h2>
      <p>Being stuck inside means only <b>one thing</b>, you start noticing how much useless stuff you have cluttering <b>around you</b>.</p><p> You start feeling like you will never use that branch new mixer but you don't have the heart to throw it out since you paid good money for it.</p>
      <p> <b>What if I told you</b> that you could not only get rid of it, but also get <b>some money back</b>? Sign up for our website <b style = "text-transform:uppercase;">today</b> and sell away all the old and new objects that you don't need anymore!</p>
    </div>
    <div class="column" >
      <div class="seller-img"></div>
    </div>

  </div>

  <div class="row">
    <div class="column" >
      <div class="buyer-img"></div>
    </div>
    <div class="column" >
      <h2>Buyer</h2>
      <p>We all know the feeling of when you get so lazy that you don't even feel like going out and browsing for a new pair of jeans.</p><p> Not only that but the <b>prices</b> are just <b style = "text-transform:uppercase;">preposterous!</b> </p>
      <p> <b>Don't worry about that anymore!</b> By using our website you can browse from the comfort of your home for cheap, almost new merchandise from people who are just like you. You also <b>save the planet</b> in the meantime!</p>
    </div>
  </div>

<!--  <div class="row">-->
<!--    <div class="column" style="height: 600px;">-->
<!--      <div class="services"></div>-->
<!--    </div>-->

<!--  </div>-->

  <div class="row">
    <div class="column" >
      <div class="button_cont" align="center"><a class="example_e" href="/register" target="_blank" rel="nofollow noopener">Register now!</a></div>
    </div>

  </div>
</div>
</div>
