<div class="bef-wrapper">
<div class="wrapper">
  <div class="title">
    Register</div>


  <form [formGroup]="myForm">
    <img src="https://i.ibb.co/MVbmDmT/auth0.png" alt="auth0" border="0">
<!--    <div class="field">-->
<!--      <input type="text" formControlName="username" name="username" ng-required="true">-->
<!--      <label>Username</label>-->
<!--    </div>-->
<!--    <div class="field">-->
<!--      <input type="text" formControlName="email" name="email" ng-required="true">-->
<!--      <label>Email Address</label>-->
<!--    </div>-->
<!--    <div class="field">-->
<!--      <input type="password" formControlName="password" name="password" ng-required="true">-->
<!--      <label>Password</label>-->
<!--    </div>-->
<!--    <div class="checkbox">-->
<!--      <input type="checkbox" id="are-you-18">-->
<!--      <label for="are-you-18">Are you 18?</label>-->
<!--    </div>-->
    <div class="field">
<!--      <input type="submit" value="Register" (click)="createUser()">-->
      <input type="submit" value="Register with Auth0" (click)="auth.loginWithRedirect()">
      <p>*Disclaimer, for client authentication we use an external auth to store your information.*<br>*By registering you consent to having your data securely stored using this platform*</p>
    </div>
<!--    <div class="signup">-->
<!--      <span>Already a member? </span>-->
<!--      <div class="signup-link"><a href="/login">Sign-in now!</a></div>-->
<!--    </div>-->
  </form>
</div>
</div>

