<div class="bef-wrapper">
<div class="wrapper">
  <div class="title">Register</div>
  <form>
    <img src="https://i.ibb.co/MVbmDmT/auth0.png" alt="auth0" border="0">
    <div class="field">
      <input type="submit" value="Register with Auth0" (click)="auth.loginWithRedirect()">
      <p>*Disclaimer, for client authentication we use an external auth to store your information.*<br>*By registering you consent to having your data securely stored using this platform*</p>
    </div>
  </form>
</div>
</div>

